html, body {
    font-family: Raleway;
    margin: 20px;
}

/*------------------*/
/*ready-to-use*/
/*------------------*/

.sansMarge {
    line-height:0px;
}

.petiteMarge {
    line-height: 10px;
}


.petiteMargeGauche {
    margin-left: 20px;
}

.petiteMargeTop {
    margin-top: 10px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexEnd {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


/*------------------*/
/*Propriétés Globale*/
/*------------------*/


h1 {
    font-size: 25px;
}

.bleu {
    color: #0065fc;
}

.bleuclair {
    color: #DEEBFF;
}

.bleuFond {
    background-color: #0065fc;
}

.noir {
    color: rgb(0, 0, 0);
}

.gris {
    color: #bebebe;
}

.grisclairfond {
    background-color: #F2F2F2;
}

.gras {
    font-weight: bold;
}


/*------------------*/
/* Propriété Header*/
/*------------------*/


.blocLogoNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    height: 50px;
    padding-left: 20px
}

.navLien {
    list-style: none;
    width: 20%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

a {
    border-top: 5px solid ;
    border-color: transparent;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    transition: all .2s ease-in-out; 
    text-decoration: none;
}

a:hover {
    border-top: 5px solid ;
    border-color: #0065fc;
    color: #0065fc;
    transition: all .2s ease-in-out; 
}



/*------------------*/
/*Search Barre Entière*/
/*------------------*/


.searchBarComplete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 480px;
    height: 50px;
}



/*Icone de géolocalisation*/



.geoIcon {
    width: 50px;
    height: 50px;
    color: black;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}


/*------------------*/
/*Search barre input texte*/
/*------------------*/


.barreDeRecherche {
    height: 50px;
    width: 230px;
    padding-left: 15px;
    border: 3px solid #F2F2F2;
}


/*------------------*/
/*Boutons de recherche*/
/*------------------*/


.boutondeRecherche {
    height: 50px;
    width: 180px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
    background-color: #0065fc;
    font-size: large;
    border-width: 0px;
}

.boutondeRecherche::before {
    content: "Rechercher";
}


/*------------------*/
/*Les filtres*/*
/*------------------*/


.filtreglobal {
    display: flex;
    margin: 25px 0;
    width: 60%;
    align-items: flex-start;
    justify-content: space-around;
}


.filtreStarter {
    margin-right: 10px;
}

.filtreUnitaire {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 3px solid #f2f2f2;
    background-color: white;
    border-radius: 30px 30px;
    width: auto;
    transition: all .2s ease-in-out; 
}

.filtreUnitaire:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
}

.iconsFiltres {
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.textFiltres {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}


/*------------------*/
/* Infobulle et infobulle supplémentaire*/
/*------------------*/


.infoSupplement {
    display: flex;
    align-items: center;
}

.infoBulle {
    border: 3px solid #f2f2f2;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 20px;
}

/*------------------*/
/*Hebergements + Les Plus Populaires Box*/
/*------------------*/

.HebergementsEtPopulaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 35px;
}

/*------------------*/
/*Hebergements Box*/
/*------------------*/

.hebergementBox {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: 710px;
    padding: 10px;

}

.cadresDesHotels {
    width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
}

.ratioImgHebergement {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 140px;
    object-fit: cover;
}

.images13Hebergements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 10px;
}

.legendes {
    font-size:90%;
    margin: 0 10px;
    padding: 0 0 10px;
}

.afficherPlus {
    margin-left: 30px;
}

/*------------------*/
/*Les plus Populaires Box*/
/*------------------*/

.populaireBox {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 710px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.lesPlusPopulaireTitre {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 90%;
}

.populaires123 {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px;
    width: 90%;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    height: 153px;
}

.imagesPopulaire{
    height: 150px;
    width: 150px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

/*------------------*/
/* Activités à Marseille */
/*------------------*/

.activiteBox {
    display: flex;
    height: 560px;
    justify-content: space-between;
}

.activite14 {
    width: 23%;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 20px;
}

.images14 {
    height: 90%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.images2 {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.images3 {
    width: 100%;
    height: 145px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.doublesimages2356 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}

.images5 {
    width: 100%;
    height: 190px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.images6 {
    width: 100%;
    height: 190px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite23 {
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 20px 20px 0 0;
    border-radius: 20px;
}

.activite56 {
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 20px 20px 0 0;
    border-radius: 20px;
}


/*------------------*/
/*Footer*/
/*------------------*/


.footerDisposition {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 80px;
    padding-right: 25%;
}


/*------------------*/
/*------------------*/
/*Partie Responsive MOBILE*/
/*------------------*/
/*------------------*/



@media (max-width: 768px) { 

/*------------------*/
/* Logo et Barre de navigation MOBILE */ 
/*------------------*/

.blocLogoNav { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLien {
    justify-content:s;
    margin: 0px;
    width: 100%;
}


.logo {
    justify-content: center;
    align-items: center;
}

/*------------------*/
/*Barre de recherche MOBILE*/
/*------------------*/

.searchBarComplete {
    justify-content: center;
    width: 100%;
}

.barreDeRecherche {
    width: 100%;
    padding: 0 30px;
}

.boutondeRecherche:before {
    content: "\f002";
    font-weight: 400px;
    font-family: "Font Awesome 5 Free";
}

.boutondeRecherche {
    width: 55px;
    height: 55px;
    border-radius: 15px;
}


/*------------------*/
/* Partie Filtres MOBILE */
/*------------------*/

.filtreglobal {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/*------------------*/
/* Hebergements + Populaires MOBILE*/
/*------------------*/

.HebergementsEtPopulaire {
    flex-direction: column-reverse;

    
}

/*------------------*/
/*Populaires MOBILE */
/*------------------*/

.populaireBox {
    width: 100%;
}

/*------------------*/
/*Hebergement MOBILE*/
/*------------------*/

.hebergementBox {
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}

.images13Hebergements {
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

.cadresDesHotels {
    width: 90%;
    height: auto;
    margin: 20px;
}

.ratioImgHebergement {
    height: 240px;
}
.legendes {
    font-size: 100%;
}

/*------------------*/
/*Activités MOBILE*/
/*------------------*/

.activiteBox {
    height: auto;
    flex-direction: column;
    align-items: center;

}

.activite14 {
    width: 95%;
    margin: 20px 0;
}

.activite23 {
    margin: 20px 0;
}

.activite56 {
    margin: 20px 0;
}

h3 {
    font-size: 130%;
}

.doublesimages2356 {
    width: 95%;

}

.images2 {
    height: 240px;
}

.images3 {
        height: 240px;
}

.images14 {
    height: 240px;
}

.images5 {
    height: 240px;
}

.images6 {
    height: 240px;
}

/*------------------*/
/*Footer MOBILE*/
/*------------------*/

.footerDisposition {
    flex-direction: column;
    padding:  10px 30px;
}
}

/*------------------*/
/*------------------*/
/*Partie responsive TABLETTE*/
/*------------------*/
/*------------------*/

@media all and (min-width: 768px) and (max-width: 992px){ 


/*------------------*/
/*Filtre TABLETTE*/
/*------------------*/


.filtreglobal {
    width: 100%;
    flex-direction: row;

  }

/*------------------*/
  /*Hebergements Et populaire TABLETTE*/
  /*------------------*/

  .HebergementsEtPopulaire {
    flex-direction: column-reverse;
}

/*------------------*/
/*Populaire TABLETTE*/
/*------------------*/

.populaireBox {
    width: 100%;
}

.legendesTablette {
    font-size: 120%;
    width: 90%;
    line-height: 2px;

    
}

/*------------------*/
/*Hebergements TABLETTE*/
/*------------------*/

.hebergementBox {
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}


/*------------------*/
/*Activité TABLETTE*/
/*------------------*/

.activiteBox {
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}

.activite14 {
    width: 48%;
    margin: 20px 0;
}

.activite23 {
    margin: 20px 0;
}

.activite56 {
    margin: 20px 0;
}

h3 {
    font-size: 120%;
}

.doublesimages2356 {
    width: 48%;
}

.images14 {
    height: 592px;
}

.images2 {
    height: 240px;
}

.images3 {
    height: 240px;
}

.images5 {
    height: 240px;
}

.images6 {
    height: 240px;
}

.boutondeRecherche:before {
    content: "\f002";
    font-weight: 400px;
    font-family: "Font Awesome 5 Free";
}

.boutondeRecherche {
    width: 55px;
    height: 55px;
    border-radius: 15px;
}
}


/**************/
/******************FIN !!*****************/
/******************************************/
/***************/