html, body {
    font-family: "Raleway", "sans-serif";
    margin: 20px;
    max-width: 3900px;
}

/*------------------*/
/*ready-to-use*/
/*------------------*/

.sansMarge {
    line-height:0px;
}

.miniMarge {
    line-height: 20px;
    margin: 0;
}

.petiteMarge {
    line-height: 10px;
}

.margeNormalize {
    line-height: 5px;
}

.marginZero {
    margin: 5px 0;
}

.petiteMargeGauche {
    margin-left: 20px;
}

.petiteMargeTop {
    margin-top: 10px;
}

.petiteMargeBot {
    margin-bottom: 15px;
    margin-top: 3px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexEnd {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


/*------------------*/
/*Propriétés Globale*/
/*------------------*/


h1 {
    font-size: 25px;
}

.bleu {
    color: #0065fc;
}

.bleuclair {
    color: #DEEBFF;
}

.bleuFond {
    background-color: #0065fc;
}

.noir {
    color: rgb(0, 0, 0);
}

.gris {
    color: #bebebe;
}

.grisclairfond {
    background-color: #F2F2F2;
}

.gras {
    font-weight: bold;
}



/*------------------*/
/* Propriété Header*/
/*------------------*/


.blocLogoNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    height: 50px;
    padding-left: 20px
}

.navLien {
    list-style: none;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

a {
    border-top: 3px solid ;
    border-bottom: 3px solid;
    border-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 60px;
    font-weight: 400;
    text-decoration: none;
}

.paddingLeft {
    justify-content: end;
}

a:hover {
    border-top: 3px solid ;
    border-bottom: 3px solid ;
    border-color: #0065fc;
    color: #0065fc;
    border-bottom: transparent;
    height: 120px;
}



/*------------------*/
/*Search Barre Entière*/
/*------------------*/


.searchBarComplete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    max-width: 600px;
    height: 46px;
    margin-top: 20px;
    border: 5px solid #f2f2f2;
    border-radius: 15px;
    border-right: none;
    border-left: none;
}



/*Icone de géolocalisation*/



.geoIcon {
    width: 52px;
    height: 52px;
    color: black;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
}


/*------------------*/
/*Search barre input texte*/
/*------------------*/


.barreDeRecherche {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: none;
}


/*------------------*/
/*Boutons de recherche*/
/*------------------*/


.boutondeRecherche {
    height: 56px;
    width: 40%;
    max-width: 280px;
    min-width: 120px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: white;
    background-color: #0065fc;
    font-size: large;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutondeRecherche::before {
    content: "Rechercher";
}


/*------------------*/
/*Les filtres*/*
/*------------------*/


.filtreglobal {
    display: flex;
    margin: 20px 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}


.filtreStarter {
    margin-right: 10px;
}

.doubleFiltre {
    display: flex;
    flex-wrap: wrap;
}

.doubleFiltre2 {
    display: flex;
}

.filtreUnitaire {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 3px solid #f2f2f2;
    background-color: white;
    border-radius: 30px 30px;
    transition: all .2s ease-in-out; 
    margin: 3px 3px;
}

.filtreUnitaire:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
}

.iconsFiltres {
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-width: 52px;
    
}

.textFiltres {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}


/*------------------*/
/* Infobulle et infobulle supplémentaire*/
/*------------------*/


.infoSupplement {
    display: flex;
    align-items: center;
}

.infoBulle {
    border: 3px solid #f2f2f2;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 20px;
}

/*------------------*/
/*Hebergements + Les Plus Populaires Box*/
/*------------------*/

.HebergementsEtPopulaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 35px;
}

/*------------------*/
/*Hebergements Box*/
/*------------------*/

.hebergementBox {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 65%;
    height: 710px;
    padding: 10px;

}

.cadresDesHotels {
    width: 30%;
    background-color: white;
    border-radius: 30px;
    padding: 3px;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    height: 230px;
}

.ratioImgHebergement {
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 140px;
    object-fit: cover;
}

.images13Hebergements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 10px;
}

.legendes {
    font-size:90%;
    margin: 00px 10px;
    padding: 0 0 10px;
}

.afficherPlus {
    margin-left: 30px;
}

/*------------------*/
/*Les plus Populaires Box*/
/*------------------*/

.populaireBox {
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    height: 710px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.lesPlusPopulaireTitre {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 90%;
}

.populaires123 {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 3px;
    width: 90%;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    height: 160px;
}

.imagesPopulaire{
    height: 160px;
    width: 40%;
    max-width: 160px;
    border-radius: 30px 0 0 30px;
    object-fit: cover;
}

.etoiles {

    align-items: flex-end;
    display: flex;
    padding: 20px 0 0 0 ;
}

/*------------------*/
/* Activités à Marseille */
/*------------------*/

.activiteBox {
    display: flex;
    height: 560px;
    justify-content: space-between;
}

.activite14 {
    width: 23%;
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 30px;
}

.images14 {
    height: 90%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.images2 {
    width: 100%;
    height: 250px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.images3 {
    width: 100%;
    height: 155px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.doublesimages2356 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}

.images5 {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.images6 {
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activite23 {
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 30px 30px 0 0;
    border-radius: 30px;
}

.activite56 {
    box-shadow: 2px 2px 2px 1px rgb(172, 172, 172);
    border-radius: 30px 30px 0 0;
    border-radius: 30px;
}


/*------------------*/
/*Footer*/
/*------------------*/


.footerDisposition {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 70px;
    width: 100%;
    padding: 30px 0;
    justify-content: space-around;
}

.footerDisposition > * {
    flex-basis: 30%;
}


/*------------------*/
/*------------------*/
/*Partie Responsive MOBILE*/
/*------------------*/
/*------------------*/



@media (max-width: 768px) { 

/*------------------*/
/* Logo et Barre de navigation MOBILE */ 
/*------------------*/

.blocLogoNav { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leTitrePrincipal {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}

.navLien {
    justify-content: space-around;
    margin: 0px;
    width: 100%;
    
}


.logo {
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

a {
    font-size: 18px ;
    border-bottom: 3px solid #F2F2F2;
    font-weight: bold;
}

a:hover {
    border-bottom: 3px solid ;
    border-color: #0065fc;
    color: #0065fc;
    transition: all .2s ease-in-out; 
    border-top: 3px transparent;
    height: 20px;
}

/*------------------*/
/*Barre de recherche MOBILE*/
/*------------------*/

.searchBarComplete {
    justify-content: center;
    width: 100%;
}

.barreDeRecherche {
   width: 100%;
}

.boutondeRecherche:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
}

.boutondeRecherche {
    width: 50px;
    min-width: 56px;
    border-radius: 15px;
}


/*------------------*/
/* Partie Filtres MOBILE */
/*------------------*/

.filtreglobal {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.doubleFiltre2 {
    flex-direction: column;
    max-width: 150px;
    align-items: flex-start;
}



/*------------------*/
/* Hebergements + Populaires MOBILE*/
/*------------------*/

.HebergementsEtPopulaire {
    flex-direction: column-reverse;

    
}

/*------------------*/
/*Populaires MOBILE */
/*------------------*/

.populaireBox {
    width: 100%;
    border-radius: 0%;
}

/*------------------*/
/*Hebergement MOBILE*/
/*------------------*/

.hebergementBox {
    width: 100%;
    height: auto;
    margin-top: 40px;
    background-color: white;
    
}

.images13Hebergements {
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

.cadresDesHotels {
    width: 90%;
    height: 338px;
    margin: 20px;
    max-height: 440px;
}

.ratioImgHebergement {
    height: 240px;
}
.legendes {
    font-size: 100%;
}

/*------------------*/
/*Activités MOBILE*/
/*------------------*/

.activiteBox {
    height: auto;
    flex-direction: column;
    align-items: center;

}

.activite14 {
    width: 95%;
    margin: 20px 0;
}

.activite23 {
    margin: 20px 0;
}

.activite56 {
    margin: 20px 0;
}

h3 {
    font-size: 130%;
}

.doublesimages2356 {
    width: 95%;

}

.images2 {
    height: 240px;
}

.images3 {
        height: 240px;
}

.images14 {
    height: 240px;
}

.images5 {
    height: 240px;
}

.images6 {
    height: 240px;
}

/*------------------*/
/*Footer MOBILE*/
/*------------------*/

.footerDisposition {
    flex-direction: column;
    padding:  10px 30px;
}
}

/*------------------*/
/*------------------*/
/*Partie responsive TABLETTE*/
/*------------------*/
/*------------------*/

@media all and (min-width: 768px) and (max-width: 992px){ 

/*------------------*/
/*Search Bar TABLETTE*/
/*------------------*/

.boutondeRecherche:before {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
}
    
.boutondeRecherche {
        width: 50px;
        min-width: 56px;
        border-radius: 15px;
}

/*------------------*/
/*Filtre TABLETTE*/
/*------------------*/


.filtreglobal {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

  }

/*------------------*/
  /*Hebergements Et populaire TABLETTE*/
  /*------------------*/

  .HebergementsEtPopulaire {
    flex-direction: column-reverse;
}

/*------------------*/
/*Populaire TABLETTE*/
/*------------------*/

.populaireBox {
    width: 100%;
}

.legendesTablette {
    font-size: 120%;
    width: 90%;

    
}

/*------------------*/
/*Hebergements TABLETTE*/
/*------------------*/

.hebergementBox {
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}


/*------------------*/
/*Activité TABLETTE*/
/*------------------*/

.activiteBox {
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}

.activite14 {
    width: 48%;
    margin: 20px 0;
    height: 640px;
}


.activite56 {
    margin: 00px 0;
}

h3 {
    font-size: 120%;
}

.doublesimages2356 {
    width: 48%;
    height: 640px;
}

.images14 {
    height: 575px;
}

.images2 {
    height: 240px;
}

.images3 {
    height: 240px;
}

.images5 {
    height: 240px;
}

.images6 {
    height: 240px;
}

}


/**************/
/******************FIN !!*****************/
/******************************************/
/***************/